.DS_Store
*.gsheet
*.*~
*.pyc
*.db
*.sqlite
skeleton/skeleton/settings/local.py
var/images/*
var/log/*
.idea
atlassian-ide-plugin.xml
*.iml
current_version.txt
logserror_log.txt
logsinfo_log.txt
.vagrant/
.src/
src/
*.swp
.ropeproject/
\#*
/#*
/#*.*/#
.\#*
.venv